.AboutUs{
    background: rgb(142,121,62);
    background: linear-gradient(
        90deg, 
        rgba(142,121,62,0.947391456582633) 5%,
        rgba(173,151,79,0.5776435574229692) 42%);
}

.MissionStatementFigure{
    height: 280px;
    width: 171;
    display: flex;
    padding: 20px;
}

.CardGroup{
    display: flex;
}

.Geeks{
    height: 180px;
    width: 171px;
     
}