.ContactUs {
    background: rgb(173,151,79);
    background: linear-gradient(0deg, rgba(173,151,79,1) 10%, rgba(27,238,255,1) 99%);
}

.contactimg1 {
    filter: brightness(75%);
    object-fit: fill;
}

.Card {
    text-align: center;
}
/* border: solid 2px aqua !important;
    border-radius: 30px !important;
    background-color: aqua !important;
    color: white !important;
    width: 26%; */