.Home{
    background: rgb(142,121,62);
    background: linear-gradient(
        90deg, 
        rgba(142,121,62,0.947391456582633) 5%,
        rgba(173,151,79,0.5776435574229692) 42%);
    }

.HomeIntro{
    object-fit: cover;
   
    
}

.homeImgOverTop{
    padding-top: 5rem !important;
}

.homeIntroImg{
    object-fit: cover;
    height: 600px;
    width: 100%;
}

.homeIntroOverlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   


.WelcomeToButtons{
    padding: 5px;
    margin: 20px;
    width: 100px;
    border: none;
    border-radius: 30px;
    background-color: aqua;
    color: chartreuse;
}

