
/* REMOVE BORDER WHEN DONE WITH THIS SECTION!!!!!!!!! */

.navbar {
  border-style:double;
  border-color: red;
  display: flex;
  flex-direction: row;

}

.logo {
  
  margin-right: 75%;
  border: 1px double #ad974f !important;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.links {
  
  align-items: space-between;
  width: 100%;
}

.links-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-right {
	display: flex;
  margin-left: 900px;
  align-items: center;
}
