.list_of_jobs {
    display: flex;
    flex-direction: column;
    align-items:center;
    
}

/* Below is done by Kriss sorry Albert */

.SignBox {
    background-color: #FFFFFF;
    width: 400px;
    height: 375px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(31, 31, 31, 0.534)
}

.signup-form button {
    border: solid 2px aqua !important;
    border-radius: 30px !important;
    background-color: aqua !important;
    color: white !important;
}

input {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Poppins', sans-serif;
}
/* Above is done by Kriss again sorry Albert */