.TermsOfServicePrivacy{
    background: rgb(142,121,62);
    background: linear-gradient(
        90deg, 
        rgba(142,121,62,0.947391456582633) 5%,
        rgba(173,151,79,0.5776435574229692) 42%);
}

.agreeButton{
    /* border: solid 2px; */
    /* border-radius: 80px; */
   
    /* color: white; */
    /* width: 100px; */
    color: yellow !important;
    font-weight: bold !important;
}


.tosText{
    text-align: justify;
}
